@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa/Comfortaa-Regular.ttf"); }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Comfortaa", sans-serif;
  color: #800517;
  background: url("../img/bg-light.png"); }

.container {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  text-align: center; }

.input-part {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding: 50px;
  border-bottom: 1px solid #800517; }
  .input-part::after {
    content: '';
    clear: both;
    display: table; }

.input-part__product-name {
  float: left;
  margin-left: 60px; }

.input-part__product-price {
  float: right;
  margin-right: 75px; }

input {
  margin-top: 10px;
  color: #000000; }

input[type='number'] {
  width: 80px;
  text-align: right; }

.button {
  float: left;
  margin-top: 100px;
  margin-left: 50px;
  display: block;
  width: 100px;
  min-height: 30px;
  background-color: #7E587E;
  color: #EEE8AA;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px 3px black; }

button:hover {
  background-color: rgba(126, 88, 126, 0.8);
  color: gold;
  box-shadow: 0 0 10px 1px black; }

table {
  margin: 50px auto;
  width: 600px; }

.total {
  position: absolute;
  top: 250px;
  right: 150px; }
