*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:"Comfortaa";
  background-color: lightyellow;
  color:lightgoldenrodyellow;
}
.container{
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: url("../img/bg.png");
  text-align: center;
}
.input-part{
  text-align: left;
  font-family:"Ubuntu", sans-serif;
  padding: 50px;
  &::after{
    content: '';
    clear: both;
    display: table;
  }

}
.input-part__product-name{
  float: left;
  margin-left: 50px;
}
.input-part__product-price{
  float: left;
  margin-left: 150px;
  text-align: center;

}
input{
  margin-top: 10px;
  color: #000000;
}
input[type='number']{
  width: 80px;
  text-align: right;
}
.button{
  margin-right: 200px;
  margin: auto;
  display: block;
  width: 100px;
  min-height: 30px;
  background-color: #7E587E;
  color: 	#EEE8AA;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px 3px black;
}
button:hover{
  background-color: rgba(126,88,126, .8);
  color:  gold;
  box-shadow: 0 0 10px 1px black;
}